/**Google font import link */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto&display=swap');
/* colors */
.white {
color:#ffffff;
}
.white-bg {
background-color:#ffffff;
}
.cyan {
color:#66FCF1;
}
.black-bg {
background-color:#0B0C10;
}
/* navigation */
.nav-style {
background-color:#040404;
padding-bottom:35px;
padding-top:35px;
}
.background-image {
background: url("https://images.pexels.com/photos/937980/pexels-photo-937980.jpeg?cs=srgb&dl=blue-smoke-wallpaper-937980.jpg&fm=jpg");
background-size: cover;
}
.title {
font-family: 'Arial', sans-serif;
color:#ffffff;
text-align:center;
font-weight:600;
margin-top:9px;
}
.title:hover /*This class removes styling that you'd normally see while hovering on a link. White compliments the black background so well that I didnt want to change it. */{
text-decoration: none;
color:#ffffff;
}
.nav-link-style {
font-family: 'Oswald', sans-serif;
color:#ffffff;
padding:7px;
margin-right:14px;
font-size: 20px;
}
.link-underline {
text-decoration: underline;
}
.nav-link-style:hover {
color:#ffffff;
text-decoration:underline;
}
.toggler-style {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.newsletter-button-nav {
color:#ffffff;
font-size:23.5px;
margin-top:24px;
}
.newsletter-button-nav:hover {
color:#ffffff;
}
.sticky-top /* Position relative in parent and fixed in child element is easiest way to create a sticky top.*/{
position:relative;
}
.sticky-top-inner {
position:fixed;
}
/**index section */
.why-use-symposium-head {
font-family:'Arial', sans-serif; 
font-size:45px;
text-align:center;
}
.quotes {
 margin-top:20px;
}
.content-container {
 padding-top: 75px;
 padding-bottom: 75px;
 margin-top:125px;
}
.quotes-section {
 padding-bottom: 25px;
}
.quote {
 font-family: 'Lato' , sans-serif;
 font-size: 17px;
 margin-bottom:40px;
 color:white;
 font-weight:800;
}
.quote-person {
 font-weight:800;
 font-family: 'Lato' , sans-serif;
 font-size:22px;
 text-decoration: none;
 color:white;
}
.quote-person:hover {
 color:white;
 text-decoration: none;
}
.about-person {
 font-size: 13px;
 font-family: 'Lato' , sans-serif;
 color:white;
 font-weight:700;
}
.quote-3 {
 margin-top:70px;
}
/* jumbotron */
.jumbotron-padding {
padding-top:200px;
padding-bottom:150px;
margin-bottom: 30px;
}
.jumbotron-padding-index {
padding-top:200px;
padding-bottom:150px;
margin-bottom: 30px;
}
.jumbotron-style-events {
padding-top:66px;
padding-bottom:200px;
}
/* matches section */
.match-table-font{
font-family: 'Roberto',Helvetica,sans-serif;
}
.team-img-left{
width:50px;
height:50px;
margin-top:20px;
}
.team-img-right{
width:50px;
height:50px;
margin-top:20px;
}
.matchup-style {
font-weight:500;
font-size:19px;
}
.league-and-format-style {
font-family: 'Roberto',Helvetica,sans-serif;
font-weight:500;
color:black;
}
.h4-table-size {
font-size: 15px;
}
.span-table-size {
font-size:25px;
}
/* players to watch section */
.card {
background-color:#1F2833;
}
.card-header{
background-color:#040404;
text-align:center;
font-family: 'Oswald', sans-serif;
}
.card-block {
background-color:#1F2833;
}
.card-text {
font-size:18px;
padding-left:10px;
padding-right:10px;
margin-top:10px;
font-family: 'Roberto',Helvetica,sans-serif;
}
.card-img-top {
max-height: 250px;
overflow:hidden;
}
.alphari-img { /* This player image messed up the styling so I had to manually change the dimensions of it */
width:800px;
height:350px;
}
/* esports-location section */
#map {
min-height: 360px;
}
.table-head-events {
font-family: 'Roberto',Helvetica,sans-serif;
color:#ffffff;
}
.table-cell-events {
font-family:'Lato', sans-serif;
color:#ffffff;
font-weight:500;
}
.white-border-bottom {
border-bottom:1px solid #ffffff;
}
.table thead th {
border-bottom: none;
}
/* footer */
footer {
background-color:#040404;
color: white;
min-height: 140px;
margin: 0;
}
.footer-style {
list-style-type: none;
overflow: hidden;
margin-top:50px;
}
.li-style-footer {
font-size:18px;
font-family: 'Oswald', sans-serif;
color:#ffffff;
display:inline;
margin-right:16px;
}
.newsletter-button-footer {
color:#ffffff;
font-size: 23.5px;
margin-top:51px;
margin-left:7px;
}
.newsletter-button-footer:hover {
color:#ffffff;
}
/* margin/padding containers */
.margin-bottom-container {
margin-bottom:125px;
}
.padding-top-container-nav{
padding-top:10px;
}
.matchup-margin {
margin-top:25px;
}
.margin-top-10 {
margin-top:10px;
}
.padding-bottom {
padding-bottom:100px;
}
/* Loading Modal */
.loading-center {
text-align:center;
}
.loading-center-inner {
display:inline-block;
}
/* Modal */
.modal-button {
color:#ffffff;
background-color:#040404;
font-weight:600;
border-color:#040404;
}
.modal-button:hover {
color:#ffffff;
background-color:#040404;
border-color:#040404;
}
.modal-button:active {
color:#ffffff;
background-color:#040404;
border-color:#040404;
}
.modal-email-text {
font-family: 'Roberto',Helvetica,sans-serif;
}
.modal-title-style {
 font-family: 'Roberto', sans-serif;
}
/* Media Queries */
@media only screen and (max-width: 992px) {
.title {
text-align:center;
}
}
@media only screen and (max-width:576px) {
.center-sm {
text-align:center;
padding:10px;
}
}
@media only screen and (max-width:740px) {
.title {
text-align:right;
}
}
@media only screen and (max-width:570px) {
.title {
font-size:25px;
}
}
@media only screen and (max-width:1337px) {
.nav-link-style {
font-size:14.5px;
margin-right:3px;
}
}
@media only screen and (max-width:992px) {
.footer-style  {
text-align:center;
}
}
@media only screen and (max-width:992px) {
.li-style-footer-esports-ltd {
margin-left:0;
}
}
@media only screen and (max-width:992px) {
.center {
text-align:center;
}
}
@media only screen and (max-width:992px) {
.margin-bottom-card {
margin-bottom:75px;
}
}
@media only screen and (max-width:772px) {
.jumbotron-small-view-width {
font-size:40px;
}
}
@media only screen and (max-width:772px) {
.why-use-symposium-head {
font-size:33px;
}
}
@media only screen and (min-width:720px) {
.margin-left-footer{
margin-left:35px;
}
}
@media only screen and (max-width:400px) {
.h4-table-size{
font-size:12px;
}
}
@media only screen and (max-width:400px) {
.span-table-size{
font-size:20px;
}
}
@media only screen and (max-width:720px) {
.jumbotron-padding{
padding-bottom:0px;
padding-top:165px;
}
}
@media only screen and (max-width:720px) {
.jumbotron-padding-index {
padding-bottom:40px;
padding-top:165px;
}
}
@media only screen and (max-width:720px) {
.events-h2-small-viewwidth {
font-size:19px;
}
}
@media only screen and (min-width:1200px) { /* Fixes the difference of card lengths on larger view widths */
.rekkles-finn-pb {
padding-bottom:26px;
}
}
@media only screen and (min-width:720px) {
.why-use-symposium {
padding-top:75px;
}
}