/** Google font import link **/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto&display=swap');

/** navigation **/

.nav-style {

    background-color:#040404;
    padding-bottom:35px;
    padding-top:35px;

    
    
}

.test {

    color:green;
}



.title {

    text-decoration: none;
    font-size: 30px;

   font-family: 'Arial', sans-serif;
    color:#ffffff;
    
    font-weight:600;
    margin-top:
    
}

.title-position {

   padding-left:100px;
}

.title:hover {

    text-decoration: none;
    color:#ffffff;
}



.nav-link-style {
    font-family: 'Oswald', sans-serif;
    color:#ffffff;
    padding:7px;
    font-size: 20px;
    
}
.nav-link-style:hover {

    color:#ffffff;
    text-decoration:none;
    
}
.navbar-links {

    padding-top:10px;
}

.newsletter-button-nav {

     color:#ffffff;
    font-size:28px;
    
    
    margin-top:10px;
    
   
}

.newsletter-button-nav:hover {

     color:#ffffff;
    
   
}

/** tables **/

.table-header{

    border: 1px solid black;
}

.table-cell {

 border: 1px solid black;
}

.table-api {

 border: 10px solid black;
}



/** index section **/

.jumbotron-header {

    color:#66FCF1;
}

.jumbotron-style {

    background: url("https://images.pexels.com/photos/937980/pexels-photo-937980.jpeg?cs=srgb&dl=blue-smoke-wallpaper-937980.jpg&fm=jpg");

    padding-bottom:300px;
}


.jumbotron-paragraph {

    color:#ffffff;
}

/* card */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

.card-header-color {

    color:#66FCF1;
}

.card-header-background {

    background-color:#040404;
    text-align:center;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}


.card-header{color:dodgerblue}

    /** esports-location section **/

    .events-header {

        
    }

    #map {
    
    min-height: 360px;
    
    }

    .blue {

        background-color:blue;
        text-align: center;
        margin-bottom:75px;
    }

/** footer **/
footer {
 background-color:#040404;
 color: white;
 min-height: 140px;
 margin: 0;
}

.footer-style {

 list-style-type: none;
 overflow: hidden;
 margin-top:50px;
 
 
}

.li-style-footer {

 
 font-size: 18px;
 font-family: 'Oswald', sans-serif;
    color:#ffffff;
 font-weight:500;
 display:inline;
 padding-right:10px;
}


.newsletter-button-footer {

    
   
     color:#ffffff;
   
    font-weight:600;
    font-size: 28px;
    margin-top:40px;

}

.newsletter-button-footer:hover {

    
 
     color:#ffffff;
  

}

/** margin containers **/

.margin-bottom-container {

    margin-bottom:125px;
}