/** Google font import link **/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto&display=swap');

/** navigation **/

.nav-style {

    background-color:#98c5e9;
    padding-bottom:35px;
    padding-top:35px;

    margin-bottom:200px;
    
}

.test {

    color:green;
}



.title {

    text-decoration: none;
    font-size: 30px;

   font-family: 'Arial', sans-serif;
    color:#194274;
    text-align: center;
    font-weight:600;
    
}

.title-position {

    text-align: center;
}

.title:hover {

    text-decoration: none;
    color:#194274;
}



.nav-link-style {
    font-family: 'Oswald', sans-serif;
    color:#194274;
    padding:7px;
    font-size: 20px;
    
}
.nav-link-style:hover {

    color:#194274;
    text-decoration: underline;
    
}
.navbar-links {

    padding-top:10px;
}

.newsletter-button-nav {

     color:#194274;
    background-color:white;
    font-weight:600;
    border-color: white;
    margin-top:10px;
    
   
}

.newsletter-button-nav:hover {

     color:#194274;
    background-color:white;
    border-color: #194274;
   
}

/** tables **/

.table-header{

    border: 1px solid black;
}

.table-cell {

 border: 1px solid black;
}

.table-api {

 border: 10px solid black;
}



/** index section **/

.front-image {

    width:95%;

}

    /** esports-location section **/

    .events-header {

        
    }

    #map {
    
    min-height: 360px;
    
    }

    .blue {

        background-color:blue;
        text-align: center;
        margin-bottom:75px;
    }

/** footer **/
footer {
 background-color:#98c5e9;
 color: white;
 min-height: 140px;
 margin: 0;
}

.footer-style {

 list-style-type: none;
 overflow: hidden;
 padding-top:15px;
 
}

.li-style-footer {

 padding:5px;
 font-size: 18px;
 font-family: 'Oswald', sans-serif;
    color:#194274;
 font-weight:500;
 display:inline;
}
.footer-margin {

    padding:15px;
}

.newsletter-button-footer {

    
   
     color:#194274;
    background-color:white;
    font-weight:600;
    border-color: white;
    margin-top:15px;

}

.newsletter-button-footer:hover {

    
 
     color:#194274;
    background-color:white;
   
    border-color: white;

}

/** margin containers **/

.margin-bottom-container {

    margin-bottom:125px;
}